@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  color: #333333;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background: white;
  border-bottom: 1px solid #ff77a7;
}
.logo {
  display: flex;
  align-items: center;
  background: white;
}
.logo a {
  display: block;
  width: 200px;
  height: 40px;
}

/* nav */

/* nav depth1 */
.gnb .depth1 {
  display: flex;
  font-size: 16px;
}
.gnb .depth1 > li {
  position: relative;
}
.gnb .depth1 > li > a {
  display: block;
  height: 100px;
  padding: 0 50px;
  line-height: 100px;
  text-align: center;
  color: #ff77a7;
}

/* depth1에 마우스 오버 했을 때 */
.gnb .depth1 > li > a:hover {
  /* background: white; */
  border-bottom: 3px solid #ff77a7;
}
/* depth2에 마우스 오버 했을 때 */
.gnb .depth1:hover.depth2 {
  display: block;
}

.gnb .depth1 > li:hover > .depth2 {
  opacity: 1;
  padding: 10px 0;
  height: 180px;
}

/* nav depth2 */
.gnb .depth2 {
  position: absolute;
  overflow: hidden;
  top: 100px;
  left: 0;
  width: 100%;
  height: 0;
  padding: 0;
  background: #ffb2cd;
  z-index: 1;
  transition: height 0.2s;
}

.gnb .depth2 a {
  display: block;
  /* width: 170px; */
  padding: 8px;
  text-align: center;
  color: #ffffff;
}
.gnb .depth1 li > a:hover {
  color: #666666;
  height: 100%;
}

/* slide */

.slide-wrap a,
.slide-wrap img {
  display: block;
}

.slide-wrap {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.lst-slide {
  position: absolute;
  top: 0;
  left: 0;
}

/* contents */

.contents {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* tabs-wrap */

.tabs-wrap {
  position: relative;
  display: flex;
  width: calc(100% / 2 - 230px);
}

.tabs-wrap .tab-item {
  width: 50%;
}
/* 비활성화 - 탭 중에 당장 사용하지 않음 */
/* 비활성화 tab */
.tabs-wrap .tab-item .tit {
  height: 50px;
  padding-top: 15px;
  border-bottom: 2px solid #ff77a7;
  background: #ffffff;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
}

/* 활성화 tab */
.tabs-wrap .on .tit {
  background: #ff9cbe;
  color: #ffffff;
}

.tabs-wrap .tab-item .cont {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 130px;
  /* background: #ff77a7; */
}

.tabs-wrap .on .cont {
  display: block;
}

.list-bbs {
  padding-top: 20%;
}

.lst-bbs li {
  display: flex;
  overflow: hidden;
  align-items: center;
  margin: 5px 0;
}

.lst-bbs li::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-top: -4px;
  margin-right: 10px;
  background: #ffb2cd;
}

.list-bbs li a {
  display: block;
  line-height: 2;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lst-bbs li a:hover {
  text-decoration: underline;
}

/* 갤러리 */
.lst-gallery {
  display: flex;
  /* visibility: hidden; */
  justify-content: space-between;
  padding-top: 5px;
}

.lst-gallery li {
  width: 100px;
}

.lst-gallery li p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* banner */
.bnr {
  width: 400px;
}

.bnr a,
.bnr img {
  display: block;
}

/* go to */
.goto {
  width: calc(100% / 2 - 230px);
}

.goto ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 180px;
}

.goto li {
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  background: #ffb2cd;
}

.goto a {
  display: block;
  height: 100%;
  background: #ffb2cd;
}

/* banner */

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-top: 1px solid #ffffff;
}

.logo-foot a {
  display: flex;
  align-items: center;
  height: 80px;
}

.lst-sns {
  display: flex;
}

.lst-sns li {
  margin-left: 20px;
}

.lst-sns a {
  display: block;
  line-height: 100px;
  height: 100px;
}

/* modal */
.modal-dimmed {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 10;
}

.modal-dimmed .modal-box {
  position: relative;
  width: 500px;
  height: 300px;
  padding: 30px;
  border: 1px solid #eee;
  background: #ffff;
  border-radius: 10px;
  text-align: center;
}

.modal-dimmed.active {
  visibility: visible;
  opacity: 1;
}

.modal-box h3 {
  margin-bottom: 30px;
  font-size: 24px;
}

.modal-box button {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 50px;
  height: 50px;
  background: #ff77a7;
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
