@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  color: #333333;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
}

/* header */

.header {
  width: 100%;
  height: 100px;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #ff77a7;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.logo {
  display: flex;
  align-items: center;
  background: white;
}
.logo a {
  display: block;
  width: 200px;
  height: 40px;
}
h2 {
  visibility: hidden;
}

/* nav */

.gnb .depth1 {
  display: flex;
  font-size: 16px;
}
.gnb .depth1 li {
  text-align: center;
  padding: 0px;
}
.gnb .depth1 > li > a {
  height: 100px;
  padding-top: 50px;
}
.gnb .depth1 a {
  display: block;
  padding: 0px;
  width: 170px;
  line-height: 40px;
  text-align: center;
  color: #ff77a7;
}
.gnb .depth1:hover .depth2 {
  display: block;
}
/* nav depth2 */
.gnb .depth2 {
  display: none;
  padding: 40 0px;
  background: #ffb2cd;
}
.gnb .depth2 a {
  width: 170px;
  padding: 10px;
  color: #ffffff;
}
.gnb .depth1 li > a:hover {
  color: #666666;
}
.gnb .depth1 > li > a:hover {
  border-bottom: 3px solid #ff77a7;
}

/* slide */

.slide {
  overflow: hidden;
  height: 300px;
}
.slide a,
.slide img {
  display: block;
}

/* content */

.contents {
  display: flex;
  justify-content: space-between;
}
.contents {
  margin: 10px;
}
.tabs-wrap {
  position: relative;
  display: flex;
  width: calc(100% / 2 - 230px);
}
.tabs-wrap .tabs-item {
  width: 50%;
}
.notice {
  background: #ffb0ce;
  border-radius: 20px;
  width: 80px;
  height: 22px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
}
.cont ul li {
  display: none;
  color: #333333;
  font-size: 14px;
  height: 25px;
  border-bottom: 1px solid #ffddea;
  margin-bottom: 10px;
}
.gal {
  background: #ffffff;
  border-radius: 20px;
  width: 60px;
  height: 22px;
  text-align: center;
  color: #666666;
  font-size: 16px;
}
.bnr {
  width: 400px;
}
.bnr a,
.bnr img {
  display: block;
}
.goto {
  width: 360px;
}
.goto ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 180px;
}
.goto li {
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  background: #ffddea;
  border: 2px solid #ffb0ce;
  box-sizing: border-box;
}
.goto a {
  display: block;
  height: 100%;
  background: #ffddea;
}
.tabs-wrap .tabs-item .cont {
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
}

/* footer */

.footer {
  display: flex;
}
